main {
    padding-bottom: 5em;
}

ul {
    list-style-type: none;
}

.message-list {
    list-style-type: none;
    padding: 0;
}

.message {
    border: 1px solid gray;
    margin-top: 1em;
    border-radius: 10px;
    padding-left: 1em;
    width: 90%;
}

.own-message {
    margin-left: 10%;
    background-color: rgb(228, 255, 228);
}

.other-message {
    background-color: whitesmoke;
}